<!-- app/views/dashboard/index.html.erb -->
<h1 class="dashboard-title">Panel de Administración</h1>

<div class="dashboard-container">
  <ul class="dashboard-links">
    <li class="dashboard-item">
      <%= link_to "Usuarios", usuarios_path, class: "dashboard-link" %> (Total: <%= @usuarios_count %>)
    </li>
    <li class="dashboard-item">
      <%= link_to "Productos", productos_path, class: "dashboard-link" %> (Total: <%= @productos_count %>)
    </li>
    <li class="dashboard-item">
      <%= link_to "Pedidos", pedidos_path, class: "dashboard-link" %> (Total: <%= @pedidos_count %>)
    </li>
    <li class="dashboard-item">
      <%= link_to "Categorium", categoria_path, class: "dashboard-link" %> (Total: <%= @categorias_count %>)
    </li>
    <li class="dashboard-item">
      <%= link_to "Comentarios", comentarios_path, class: "dashboard-link" %> 
    </li>
    <li class="dashboard-item">
      <%= link_to "Direcciones", direccions_path, class: "dashboard-link" %>
    </li>
  </ul>
</div>
