<div id="<%= dom_id comentario %>">
  <p>
    <strong>Usuario:</strong>
    <%= comentario.usuario_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= comentario.producto_id %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= comentario.contenido %>
  </p>

  <p>
    <strong>Calificacion:</strong>
    <%= comentario.calificacion %>
  </p>

</div>
