<div id="<%= dom_id direccion %>">
  <p>
    <strong>Usuario:</strong>
    <%= direccion.usuario_id %>
  </p>

  <p>
    <strong>Direccion linea1:</strong>
    <%= direccion.direccion_linea1 %>
  </p>

  <p>
    <strong>Direccion linea2:</strong>
    <%= direccion.direccion_linea2 %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= direccion.ciudad %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= direccion.codigo_postal %>
  </p>

</div>
