<%= form_with(model: direccion) do |form| %>
  <% if direccion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(direccion.errors.count, "error") %> prohibited this direccion from being saved:</h2>

      <ul>
        <% direccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :usuario_id, style: "display: block" %>
    <%= form.text_field :usuario_id %>
  </div>

  <div>
    <%= form.label :direccion_linea1, style: "display: block" %>
    <%= form.text_field :direccion_linea1 %>
  </div>

  <div>
    <%= form.label :direccion_linea2, style: "display: block" %>
    <%= form.text_field :direccion_linea2 %>
  </div>

  <div>
    <%= form.label :ciudad, style: "display: block" %>
    <%= form.text_field :ciudad %>
  </div>

  <div>
    <%= form.label :codigo_postal, style: "display: block" %>
    <%= form.text_field :codigo_postal %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
