<div id="<%= dom_id pedido %>">
  <p>
    <strong>Usuario:</strong>
    <%= pedido.usuario_id %>
  </p>

  <p>
    <strong>Fecha pedido:</strong>
    <%= pedido.fecha_pedido %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= pedido.estado %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pedido.total %>
  </p>

  <p>
    <strong>Metodo pago:</strong>
    <%= pedido.metodo_pago %>
  </p>

</div>
