<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Contraseña:</strong>
    <%= usuario.contraseña %>
  </p>

  <p>
    <strong>Fecha creacion:</strong>
    <%= usuario.fecha_creacion %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= usuario.activo %>
  </p>

</div>
